.button {
    display: block;
    border: 0;
    background-color: var(--color-bg-button);
    margin: 0;
    height: 52px;
    border-radius: 8px;
    width: 100%;
    color: var(--color-font-cta);
    cursor: pointer;
    transition: background-color .2s;
    max-width: 350px;
    
    &:hover {
        background-color: var(--color-bg-button-hover);
    }
    &:active {
        background-color: var(--color-bg-button-active);
    }
    &[disabled] {
        background-color: var(--color-bg-button-disabled);
        color: var(--color-font-button-disabled);
        cursor: not-allowed;
    }
}
