header, footer {
    height: 90px;
    
}
.header {
    & .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            width: 200px;
            
            img {
                max-width: 100%;
            }
        }

    }
}
