.form-input {
    width: 100%;
    
    label {
        font-weight: 500;
        margin-bottom: 6px;
        display: block;
        font-size: 14px;
    }
    input {
        font-weight: 400;
        padding-inline: 15px;
        height: 52px;
        width: 100%;
        border-radius: 8px;
        border: 1px solid #D0D5DD;
        font-size: 1rem;
    }
}
