@import './theme.css';
@import './components/input.css';
@import './components/button.css';


html {
    height: 100%;
}
body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    height: 100%;
    margin: 0;
    padding: 0;
    background: var(--color-background-01);
        
}

* {
    box-sizing: border-box;
}

main {
    height: 100%;
    padding: 0 8px;

}

header, footer {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header {
    .avatar {
        border-radius: 50%;
        overflow: hidden;
        width: 40px;
        margin: 0;
        height: 40px;
        border: 1px solid black;
        padding: 4px;
    }
}
.form-group {
    
    .form-input {
        margin: 16px 0;
        
    }
    button {
        margin: 16px 0;

    }
}

.section {
    margin: 16px 0;
}
