

:root {
    --color-purple-100: #C8B6EE;
    --color-purple-200: #BFAAEC;
    --color-purple-300: #B59EE9;
    --color-purple-400: #AC91E6;
    --color-purple-500: #A385E3;
    --color-purple-600: #9A79E1;
    --color-purple-700: #7F56D9;
    --color-purple-800: #7143D4;
    --color-purple-900: #5B2CC1;
    

    --color-white: #fff;

    
    --color-font-secondary: #667085;

    --color-icon-primary: var(--color-purple-700);

    --color-background-01: #f5f5f5;
    --color-background-03: #fefefe;

    --color-background-interactive-01: #ede3fd;
    --color-background-interactive-active-01: #d1c1ea;
    
    --color-bg-button: var(--color-purple-700);
    --color-bg-button-hover: var(--color-purple-800);
    --color-bg-button-active: var(--color-purple-900);
    --color-bg-button-disabled: #a39e9e;

    --color-font-cta: var(--color-white);
    

}
